.container {
    flex-wrap: nowrap | wrap | wrap-reverse;
  }
  
}
body {
    font-family: Arial, sans-serif;
	margin: 1px;
	padding: 1px;
	box-sizing: border-box;
    justify-content: center;
}

header,
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em;

}

main {
	padding: 20px;
    justify-content: center;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

